# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sqlite
*.sqlite
*.vsidx
*.db
*.db-shm
*.opendb
*.ipch
*.sqlite
*.sqlite
*.vcxproj
*.db-wal
*.sqlite
*.vsidx
*.db
Sandbox/SandboxCPSE2/.vs/SandboxCPSE2/v17/Browse.VC.db
.vs/slnx.sqlite
